.search-wrapper {
  width: 90%;
  margin: 0 auto;
  margin-top: 16px;
}

.search-bar {
  margin: 8px;
}

.search-icon {
  display: inline-flex;
  vertical-align: middle;
}

.search-bar-wrapper {
  margin-bottom: 8px;
}

.table-wrapper {
  width: 80%;
  height: 100%;
}

table {
  width: 100%;
}

.advanced-search-wrapper {
  height: 100%;
  width: 20%;
  float: left;
}

.advanced-search {
  text-align: left;
  width: 100%;
  margin-right: 8px;
}

.mat-accordion .mat-expansion-panel {
  border-radius: 0;
}

mat-slider {
  width: 100%;
}
